include ../dflt-bttn/dflt-bttn.pug

mixin modalComment()
    .overlay.overlay--comment#overlay__comment
        .overlay-wrap
            .overlay-wrap__top.d-f.ai-c.jc-sb
                h3 Оставить комментарий
                .overlay--close.d-f
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="0.414062" y="18" width="25" height="2" rx="1" transform="rotate(-45 0.414062 18)" fill="black"/>
                        <rect x="1.41431" width="25" height="2" rx="1" transform="rotate(45 1.41431 0)" fill="black"/>
                    </svg>
            p.overlay-wrap__top-describe Ваш адрес email не будет опубликован. Обязательные поля помечены *
            .overlay-wrap__content
                form.form-basic
                    textarea.form-basic__input.d-f.ai-c(
                        placeholder="Комментарий"
                        data-textarea=""
                    )
                    each key in [["Имя *", "text"], ["Email *", "email"]]
                        input.form-basic__input.d-f.ai-c(type=key[1] placeholder=key[0] required="")
                    +dflt-bttn({tag: 'button', className: 'form-basic__ui-button', text: 'ОСТАВИТЬ комментарий', size: 2, hover: 'bg'})