svg(width='20' height='20' viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
  rect(width='20' height='20' rx='10' fill='#EB236B')
  path(d='M13.4346 9H6.55957V11.6H13.4346V9Z' fill='white')
