mixin image-star({size = 40, color = '#FFAA05'})
  svg(width=size height=size viewbox='0 0 40 39' fill='none' xmlns='http://www.w3.org/2000/svg')
    path(d='M19.999 30.4927L7.63788 38.0424L10.9984 23.9525L0 14.5313L14.4367 13.3747L19.999 0L25.5614 13.3747L40 14.5313L28.9997 23.9525L32.36 38.0424L19.999 30.4927Z' fill=color)